@model FibMVC.Biz.CalcFib

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FibInput</title>
</head>
<body>
    <div>
        Enter a small value (preferably less than 20):
        <br />
        @Html.TextBoxFor(x => x.UserInput)
        <input type="submit" value="Submit Input" />
         
    </div>
</body>
</html>
